In [64]:
import pandas as pd

In [65]:
data = pd.read_csv("./data/emails.csv", index_col=0)

In [66]:
data.head()

                                                text  y
0                              Here is our forecast   0
1  Traveling to have a business meeting takes the...  0
2                     test successful.  way to go!!!  0
3  Randy, Can you send me a schedule of the salar...  0
4                Let's shoot for Tuesday at 11:45.    0

In [69]:
final = pd.read_csv("./final.csv", index_col=0)

In [70]:
final.head()

                                                text  y
0  URGENT BUSINESS ASSISTANCE AND PARTNERSHIP.DEA...  1
1  I am Mr. Ben Suleman a custom officer and work...  1
2   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
3   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
4    It is with a heart full of hope that I write...  1

In [71]:
len(data)

119233

In [72]:
len(final)

4195

In [74]:
final = pd.concat([final, data])

In [76]:
final.to_csv("./final.csv")