In [133]:
import pandas as pd

In [134]:
data = pd.read_csv("./data/data.csv", index_col=0)
spam = pd.read_csv("./data/spam.csv", index_col=0)

In [135]:
data.head()

                                                text  y
1  URGENT BUSINESS ASSISTANCE AND PARTNERSHIP.DEA...  1
2  I am Mr. Ben Suleman a custom officer and work...  1
3   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
4   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
5    It is with a heart full of hope that I write...  1

In [136]:
spam.head()

                                                     v2  y
v1
ham   Go until jurong point, crazy.. Available only ...  0
ham                       Ok lar... Joking wif u oni...  0
spam  Free entry in 2 a wkly comp to win FA Cup fina...  0
ham   U dun say so early hor... U c already then say...  0
spam  FreeMsg Hey there darling it's been 3 week's n...  0

In [142]:
spam = spam.reset_index()

In [143]:
spam.drop('v1', axis=1, inplace=True)

In [145]:
spam.columns = ['text', 'y']

In [155]:
spam.head()

                                                text  y
0  Go until jurong point, crazy.. Available only ...  0
1                      Ok lar... Joking wif u oni...  0
2  Free entry in 2 a wkly comp to win FA Cup fina...  0
3  U dun say so early hor... U c already then say...  0
4  FreeMsg Hey there darling it's been 3 week's n...  0

In [156]:
data.head()

                                                text  y
1  URGENT BUSINESS ASSISTANCE AND PARTNERSHIP.DEA...  1
2  I am Mr. Ben Suleman a custom officer and work...  1
3   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
4   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
5    It is with a heart full of hope that I write...  1

In [158]:
final = pd.concat([data, spam])

In [163]:
final = final.reset_index()

In [164]:
final.head()

   index                                               text  y
0      1  URGENT BUSINESS ASSISTANCE AND PARTNERSHIP.DEA...  1
1      2  I am Mr. Ben Suleman a custom officer and work...  1
2      3   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
3      4   HIS ROYAL MAJESTY (HRM) CROWN RULER OF ELEME ...  1
4      5    It is with a heart full of hope that I write...  1

In [166]:
final = final.drop("index", axis=1)

In [167]:
final.to_csv("./final.csv")

In [169]:
final.tail()

                                                    text  y
10366  This is the 2nd time we have tried 2 contact u...  0
10367              Will �_ b going to esplanade fr home?  0
10368  Pity, * was in mood for that. So...any other s...  0
10369  The guy did some bitching but I acted like i'd...  0
10370                         Rofl. Its true to its name  0