In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./final.csv", index_col=0)

In [3]:
data.head()

                                                text  y
0  urgent business assistance and partnershipdear...  1
1  i am mr ben suleman a custom officer and work ...  1
2   his royal majesty hrm crown ruler of eleme ki...  1
3   his royal majesty hrm crown ruler of eleme ki...  1
4  it is with a heart full of hope that i write t...  1

In [122]:
data.dropna(inplace=True)

In [123]:
#data['text'] = data['text'].str.replace(r'helloi', 'hello i')

In [124]:
data.to_csv('./final.csv')